<app-navbar></app-navbar>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div id="SidBar" class="col-span-2">
    <app-menu-lateral-etapa></app-menu-lateral-etapa>
  </div>
  <div class="mt-[64px]">
    <app-breadcrumb-etapa></app-breadcrumb-etapa>
    <div class="flex content-center justify-between items-center bg-gray-100">
        <app-barra-pesquisa-etapa></app-barra-pesquisa-etapa>
        <app-modal-criar-etapa></app-modal-criar-etapa>
    </div>
    <app-gerenciamento-etapa-components></app-gerenciamento-etapa-components>
    <app-modal-editar-etapa></app-modal-editar-etapa>
  </div>
</div>
