<app-navbar></app-navbar>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div id="SidBar" class="col-span-2">
        <app-menu-lateral-disciplina></app-menu-lateral-disciplina>
  </div>
  <div class="z-0 mt-[64px]">
    <app-breadcrumb-disciplina></app-breadcrumb-disciplina>
    <div class="flex content-center justify-between items-center bg-gray-100">
      <app-barra-pesquisa-disciplina></app-barra-pesquisa-disciplina>
      <app-modal-criar-disciplina></app-modal-criar-disciplina>
    </div>
    <app-gerenciamento-disciplina-components></app-gerenciamento-disciplina-components>
    <app-modal-editar-disciplina></app-modal-editar-disciplina>
  </div>
</div>
