/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cinza-principal-escuro);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cinza-border);
  border-radius: px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cinza-principal-claro);
}
