<app-navbar></app-navbar>
<div id="SidBar" class="col-span-2">
  <app-menu-lateral></app-menu-lateral>
</div>

  <div class="p-4 sm:ml-64 bg-gray-100">
    <div class="meio">
      <div class="barra-esquerda"></div>
      <section>
        <app-breadcrumb />
        <div class="secao1">
          <app-indicador />
          <app-dropdown />
          <app-calendar />
          <app-badge-ativo />
        </div>
        <app-cards />
        <div class="secao2">
          <div class="bloco-orcamento-user">
            <!-- <app-card-orcamento /> -->
            <app-user-info />
          </div>
          <div class="bloco-grafico">
            <app-grafico />
          </div>
        </div>
      </section>
      <aside>
        <app-arquivos-recentes />
      </aside>
  </div>

